// Body
$body-bg: #f3f3f3;
$body-color: #747a80;


// Layout
$content-title-heading-color: #676767;

// Header
$header-height: 72px;
$header-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.15);
$header-z-index: 20;

// Sidebars
$sidebar-width: 230px;
$sidebar-z-index: $header-z-index - 1;
$navigation-link-color: $body-color;
$navigation-link-active-color: $white;
$navigation-link-hover-bg: rgba(0, 0, 0, 0.04);
$navigation-link-hover-color: $green;