// Generate background color and color classes
@each $current-color in $colors {
  .bg-#{nth($current-color, 1)} {
    background-color: #{nth($current-color, 2)} !important;
  }

  .bg-l-#{nth($current-color, 1)} {
    background-color: lighten(nth($current-color, 2), 23%) !important;
  }

  .bg-l-#{nth($current-color, 1)}-body {
    background-color: lighten(nth($current-color, 2), 28%) !important;
  }

  .bg-ml-#{nth($current-color, 1)} {
    background-color: lighten(nth($current-color, 2), 27%) !important;
  }

  .bg-ml-#{nth($current-color, 1)}-body {
    background-color: lighten(nth($current-color, 2), 36%) !important;
  }

  .bg-xl-#{nth($current-color, 1)} {
    background-color: lighten(nth($current-color, 2), 40%) !important;
  }

  .bg-xl-#{nth($current-color, 1)}-body {
    background-color: lighten(nth($current-color, 2), 48%) !important;
  }

  .text-#{nth($current-color, 1)} {
    color: #{nth($current-color, 2)} !important;
  }
}
