// Variables
@import "animate";

// Fonts
@import "~font-awesome/css/font-awesome.css";
@import "~webplatform-ui/assets/css/material-design-iconic-font.css";
@import "fonts";

// Base setup
@import "generics";
@import "utilities";
@import "core";
@import "page-loader";
@import "theme";


// Vendors
@import "~flatpickr/dist/flatpickr.css";

// Vendor overrides
@import "vendor-overrides/flatpickr";
@import "vendor-overrides/sweetalert2";
@import "vendor-overrides/Waves";
